body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    width: 50%;
    min-width: 250px;
    height: auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 20px;
}

.height {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.height>input {
    width: 200px;
    outline: none;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 10px;
}

.height>input:invalid {
    animation: shake 300ms;
    border: 1px solid red;
}

.height label {
    font-size: 15px;
}

@keyframes shake {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: translate(0.25rem);
    }

    75% {
        transform: translate(-0.25rem);
    }
}

.weight {
    display: flex;
    flex-direction: column;
}

.weight>input {
    width: 200px;
    outline: none;
    margin-bottom: 20px;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 10px;
}

.weight>input:invalid {
    animation: shake 300ms;
    border: 1px solid red;
}

.weight label {
    font-size: 15px;
}

.container>button {
    width: 208px;
    height: 30px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 206, 142);
    cursor: pointer;
}

.container>button:hover {
    background-color: rgb(255, 162, 41);
    ;
}

.result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.result>input {
    width: 200px;
    outline: none;
    height: 20px;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-bottom: 10px;
}

.result>button {
    width: 50px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    color: white;
    background-color: rgb(255, 42, 42);
    cursor: pointer;
    margin-top: 10px;
    padding: 3px 3px 3px 3px;
    margin-bottom: 20px;
}

.result>button:hover {
    background-color: rgb(255, 90, 90);
}